/*we need to pick some new colours?*/

.navbar {
    background-color: #311a64;
    backdrop-filter: blur(5px);
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    /* background-color: orange; */
}

.nav-menu {
    /* background-color: #24104f; */
    background-color: rgba(40, 30, 100, 0.7);
    backdrop-filter: blur(55px);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    opacity: 97%;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 4;
}

.yourEventsTitle {
    padding-top: 30px;
    color: #ffffff;
    font-weight: bold;
    justify-content: center;
}

.yourEventsTitle:hover {
    color: #ec9c24;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.menu-bars {
    color: #ffff;
}

.menu-bars:hover {
    color: #ec9c24;
}

.addEventButton a {
    display: flex;
    /* color: #8432d6; */
    background-color: #ffff;
    /* border: solid 2px #8432d6; */
    border-radius: 5px;
    margin: 0.2rem;
}

.navbar-toggle {
    display: flex;
    justify-content: flex-end;
}

/* .your-event {
    font-family: "Righteous";
} */

.userEvents a {
    background-color: #ffff;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    margin: 0.2rem;
    height: 30px;
    display: flex;
    color: #24104f;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    cursor: pointer;
    box-shadow: inset 10 0 0 0 #ec9c24;
    transition: ease 0.2s;
    outline: none;
}

.userEvents:hover a {
    box-shadow: inset 190px 0 0 0 #ec9c24;
}

.userEvents p {
    font-weight: bold;
    margin-top: 9px;
}
/* 07Mar SC: just so that the event titles in the hamburger menu are not right up against the edge */
.userEventsTitles {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
}

.nav-menu-items {
    list-style: none;
}

.addButton {
    color: #ffff;
    opacity: 80%;
    font-size: 60px;
    display: flex;
    justify-content: flex-start;
}

.addbutton:hover {
    color: #ec9c24;
}

.close {
    margin-left: 120px;
    margin-top: 15px;
}
