@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

.createpollpage-container {
    padding-top: 30%;
}

.Title {
    color: #4a3774;
    text-align: center;
    justify-content: center;
    padding: 30px;
    font-size: 35px;
    font-family: Montserrat;
    font-weight: 600;
}

input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #8432d6;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 10%;
}

.createPollButton {
    background-color: #4a3774;
    color: white;
    display: flex;
    display: block;

    margin: auto;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ec9c24;
    transition: ease 0.3s;
    outline: none;
    border: none;
}

.createPollButton:hover {
    box-shadow: inset 140px 0 0 0 #ec9c24;
}
