@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

.loginpage-container {
    padding-top: 20px;
}

.Title {
    color: #4a3774;
    text-align: center;
    justify-content: center;
    padding: 30px;
    font-size: 35px;
    font-family: Montserrat;
    font-weight: 600;
}
.tagLine {
    text-align: center;
}
img {
    height: 250px;
    width: 350px;

    display: flex;
    align-self: center;
}

/* .formcontainer {
  display: inline-flex;
  flex-direction: row;

  justify-content: space-around;
} */

input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ec9c24;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 10%;
}

.loginbutton {
    background-color: #4a3774;
    color: white;
    display: flex;
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ec9c24;
    transition: ease 0.3s;
    outline: none;
    border: none;
}

.loginbutton:hover {
    box-shadow: inset 140px 0 0 0 #ec9c24;
    color: #ffff;
}

.signupbutton {
    background-color: #4a3774;
    color: white;
    display: flex;
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ec9c24;
    transition: ease 0.3s;
    outline: none;
    border: none;
}

.signupbutton:hover {
    box-shadow: inset 140px 0 0 0 #ec9c24;
    color: #ffff;
}
