.comment-section {
  display: "block";
  width: 1000;
  padding: 30;
}

.send-comment {
  display: inline-flex;
  justify-content: center;
}

.send-Btn {
  font-size: 30px;
}
.send-Btn:hover {
  color: green;
  cursor: pointer;
}

.enter-comment {
  height: 20px;
  width: 30vh;
}
