.comment-section {
    display: "block";
    width: 1000;
    padding: 30;
    z-index: 4;
}

.send-comment {
    display: inline-flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    background-color: white;
    width: 100%;
    z-index: 3;
}

.send-Btn {
    color: #4a3774;
    font-size: 30px;
    outline: none;
    border: none;
}
.send-Btn:hover {
    color: #ec9c24;
    cursor: pointer;
    outline: none;
    border: none;
}

.enter-comment {
    height: 20px;
    width: 30vh;
    outline: none;
    border: none;
}

.comment-container {
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.postsTitle {
    font-size: 15px;
    margin-left: 7.5px;
    color: #000000;
}
