h3 {
  color: purple;
  display: flex;
  display: block;
  margin: auto;
  width: 50%;
}

h2 {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

a {
  color: #8432d6;
  font-size: 60px;
  display: flex;
  justify-content: flex-start;
}

a:hover {
  color: #ffff;
}

.formContainer {
  z-index: 1;
  display: flex;
}

label,
.disclaimer {
  display: flex;
  display: block;
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
}

input[type="text"] {
  border: solid 2px #8432d6;
  border-radius: 10px;
}

.descriptionInput {
  border: solid 2px #8432d6;
  border-radius: 10px;
}

.createEventButton {
  display: flex;
  display: block;
  margin: auto;
  width: 30%;
  border-radius: 10px;
}

.dropdownPeople {
  border: solid 2px #8432d6;
  border-radius: 10px;
}

.datePicker {
  border: solid 2px #8432d6;
  border-radius: 10px;
}

.timePicker {
  border: solid 2px #8432d6;
  border-radius: 10px;
}
