.formContainer,
h2,
h3 {
  color: purple;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.eventButton {
  color: #8432d6;
  background-color: #ffff;
  border: solid 2px #8432d6;
  border-radius: 5px;
}

a {
  color: #8432d6;
}
