.inputTitle {
    color: black;
    display: flex;
    display: block;
    margin: auto;
    width: 50%;
}

.createEventTitle {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.formContainer {
    z-index: 1;
    display: flex;
}

label,
.disclaimer {
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
}

input[type="text"] {
    border: solid 2px #8432d6;
    border-radius: 10px;
}

.descriptionInput {
    border: solid 2px #8432d6;
    border-radius: 10px;
}

.createEventButton {
    background-color: #8432d6;
    color: white;
    display: flex;
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 10px;
}

.dropdownPeople {
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.inputedpeople {
    border: solid 2px #8432d6;
    border-radius: 10px;
}

.addingpeople {
    border: solid 2px #8432d6;
    border-radius: 10px;
    margin-bottom: 20px;
}

.datetext {
    text-align: center;
}
.datePicker {
    border: solid 2px #8432d6;
    border-radius: 10px;
}

.timePicker {
    border: solid 2px #8432d6;
    border-radius: 10px;
}
